{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payslip</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
 
</head>
<body>
    <div class="container">
        
            <h1 class="logo">Payslip Design</h1>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
            </ul>
    </div>

    <div class="tableclass" id="tableclass">
        <table class="table">
            <div class="container2">
                <tr>
                    <th>
                        first name
                    </th>
                    <th>
                        last name
                    </th>
                    <th>
                        View Payslip
                    </th>
    
                </tr>
    
                <tr>
                    <td>John</td>
                    <td>Emmanuel</td>
                    <td><button class="button">View Payslip</button></td>
                </tr>
            </div>

        </table>
    </div>
        
    
</body>
</html>