{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payslip</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
 
</head>
<body>

    <div class="container">
        
            <h1 class="logo">Payslip Design</h1>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
            </ul>
    </div>

    <div class="tableclass" id="tableclass">
        <table class="table">
            
            <div class="container2">
                <tr class="tr">
                    <th style="background-color: green;padding: 20px;">
                        Position
                    </th>
                    <th style="background-color: aqua;padding: 20px;">
                        First name
                    </th>
                    <th style="background-color: blue;padding: 20px;">
                        Last name
                    </th>
                    <th style="background-color: red;padding: 20px;">
                        View Payslip
                    </th>
    
                </tr>
                {% for i in getstaff %}
    
                <tr>
                    <td style="background-color: aliceblue;padding: 5px;">{{i.grade_status.positon}}</td>
            
                    <td style="background-color: aliceblue;padding: 5px;">{{i.first_name}}</td>
                
                    <td style="background-color: aliceblue;padding: 5px;">{{i.last_name}}</td>
               
                    <td style="background-color: aliceblue;padding: 5px;"><a href="{% url 'payslip' i.id %}"><button style="padding: 5px; border-width: 0;background-color: rgb(41, 41, 255);" class="button">View Payslip</button></a></td>
                

                </tr>
                {% endfor %}
                
            </div>
            

        </table>
    </div>
    
        
    
</body>
</html>