{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payslip</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body class="payslipclass">
    <div class="header" style="justify-content: center;align-items: center;flex-wrap: wrap;display: flex;">

        <img style="width: 100px;height: 100px;" src="{{static.logo}}" alt="logo">
        <h1 style=" font-size: 32px; padding-left: 50px; justify-content: center; align-items: center; flex-wrap: wrap;display: flex; margin: 50px; color: blue;margin-top: 20px;font-family: 'Labrada', serif",>Payslip</h1>
       
        <hr>
    </div>
    <div class="info" style="padding-top: 5px;margin: 20px;">
        <h1 style="font-family: 'Labrada', serif">name: {{pay.first_name}}</h1>
        <h1 style="font-family: 'Labrada', serif">email: {{pay.email}}</h1>
        <h1 style="font-family: 'Labrada', serif">Work Hour: {{pay.hour}}</h1>
        <hr>
        <h1 style=" font-size: 24px; color: red;font-family: 'Labrada', serif">{{pay.gross_salary}}</h1>
        <hr>
    </div>

    
</body>
</html>